@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{

   scroll-behavior: smooth;
   font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
    scroll-behavior: smooth;

}
#effect{
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 9.6ch;
    font-family: 'Poppins', sans-serif;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow:hidden;
    }
    
    @keyFrames typing {
    
    from { width: 0}
    }
    
    @keyFrames blink {
     50% { border-color: transparent}
    }

    .floating { 
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }
     
    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 15px); }
        100%   { transform: translate(0, -0px); }   
    }
